@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather+Sans:wght@500&display=swap');
.container{
    margin: 10 auto;
    text-align: center;
    font-family: Merriweather;
}
.td0{
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
}
.td1{
    border-bottom: 5px solid #000;
}
.td2{
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
}
.td3{
    border-bottom: 5px solid #000;
    border-right: 5px solid #000;
}
.td4{
    border-bottom: 5px solid #000;
}
.td5{
    border-bottom: 5px solid #000;
    border-left: 5px solid #000;
}
.td6{
    border-right: 5px solid #000;
}
.td8{
    border-left: 5px solid #000;
}
.box {
    min-width: 70px;
    min-height: 70px;
    background: #FFF;
    text-align: center;
    vertical-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: Merriweather;
    cursor: pointer;
}

.box:hover {
    background: rgba(0, 0, 0, 0.2);
}
.container h2 {
    color: #000;
    display: none;
}
.container a {
    position: absolute;
    top: 465px;
    left: 740px;
    border: none;
    background: #000;
    color: #FFF;
    border-radius: 3px;
    padding: 5px 7px;
    font-size: 18px;
    cursor: pointer;
}
.container a:hover {
    opacity: 0.7;
}
.container a:focus {
    outline: none;
}
h1{
    font-family: Merriweather;
    font-size: 100px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}